import { FC } from "react"; 


export interface {{properCase name}}Props {}

export const {{properCase name}}: FC<{{properCase name}}Props> = (props: {{properCase name}}Props) => { 
  return (
    <div>
      {{properCase name}}
    </div>
    ); 
};